.contenedor{
    display: grid;
    height: 100vh;
    grid-template-areas: "header header header header header header header header header header header header"
                         "menu menu menu content content content content content content content content content"
                         "footer footer footer footer footer footer footer footer footer footer footer footer"
}


.header {
    grid-area: header;
    background-color: lightpink;
    text-align: center;
    color: white;
    justify-content: center;
    align-content: center;
    align-items: center;

}

.menu {
    grid-area: menu;
    background-color: purple;
    color: white;
    justify-content: center;
    align-content: center;
    align-items: center;

    
}

.content {
    grid-area: content;
    background-color: rgb(204, 114, 78);
    text-align: center;
    color: white;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.footer {
    grid-area: footer;
    background-color: lightskyblue;
    text-align: center;
    color: white;
    justify-content: center;
    align-content: center;
    align-items: center;
}