.contenedor {
  width: 800px;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

.bloque1 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  border: 2px solid rgb(240, 22, 240);
  background-color: rgb(243, 19, 213);
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.bloque2 {
  grid-column: 3 / 5;
  grid-row: 1 / 3;
  border: 2px solid rgb(240, 22, 240);
  background-color: rgb(243, 19, 213);
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}


.bloque3 {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
  border: 2px solid rgb(240, 22, 240);
  background-color: rgb(243, 19, 213);
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.bloque4 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border: 2px solid rgb(240, 22, 240);
  background-color: rgb(243, 19, 213);
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.bloque5 {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  border: 2px solid rgb(240, 22, 240);
  background-color: rgb(243, 19, 213);
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

.bloque6 {
  grid-column: 3 / 5;
  grid-row: 3 / 4;
  border: 2px solid rgb(240, 22, 240);
  background-color: rgb(243, 19, 213);
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}