.encabezado{
    height: 100px;
    width: 500px;
    display: flex;
    border: 2px solid rgb(191, 124, 253);
     justify-content: center;
    align-items: center;
}


.encabezado .bloque{
   
    text-decoration: underline;
    margin-left: 20px;
    margin-right: 20px;
}