.encabezado{
    width: 1010px;
    height: 300x;
    display: flex;
    border: 2px solid black;
    flex-wrap:  wrap;
}

.encabezado .bloque{
    width: 200px;
    height: 100px;
    background-color: rgb(223, 173, 230);
    border: 1px solid blueviolet;
    justify-content: center;
    
}