.contenedor{
    width: 500px;
    height: 400px;
    border: 2px solid rgb(191, 124, 253);
    flex-direction: column;
}


.header{
    width: 500px;
    height: 50px;
    background-color: rgb(173, 172, 172);

}

.main{
    width: 500px;
    height: 300px;
    background-color: rgb(110, 110, 110);
}

.footer{
    width: 500px;
    height: 50px;
    background-color: orange;
}