div {position: absolute;}
#capa_1{z-index: 5; top: 24em; left: 12em;}
#capa_2{z-index: 15; top: 16em; left: 17em;}
#capa_3{z-index: 25; top: 24em; left: 29em;}
#capa_4{z-index: 35; top: 5em; left: 30em;}
#ace_of_diamonds{z-index: 45; top: 30em; left: 37em;}