#header{background-color: rgb(35, 151, 204);
color: aliceblue;
text-align: center;
padding: 35px;
}
#bloque{clear: left;
margin: 10px;}
#sidebar{background-color: rgb(8, 204, 204);
color: aliceblue;
margin-right: 10px;
padding: 35px;
height: 210px;
width: 35px;
text-align: center;
float: left;
}
#contenido1{background-color: rgb(0, 205, 178);
color: aliceblue;
text-align: center;
padding: 35px;
margin-left: 160px;
margin-right: 10px;
margin-top: 10px;
box-sizing: border-box;
}
#contenido2{background-color: rgb(0, 237, 174);
color: aliceblue;
text-align: center;
padding: 35px;
margin-left: 160px;
margin-right: 10px;
margin-top: 10px;
box-sizing: border-box;
}
#contenido3{background-color: rgb(191, 220, 0);
color: aliceblue;
text-align: center;
padding: 35px;
margin-left: 160px;
margin-right: 10px;
margin-top: 10px;
box-sizing: border-box;
}
#footer{background-color: rgb(0, 38, 255);
color: aliceblue;
text-align: center;
padding: 35px;
}