.conjunto {
    width: 100%;
    display: flex;
    gap: 5%;
    flex-wrap: wrap;
    flex-direction: column;
}

.Bloque1 {
    width: 45%;
}

.Bloque1 :hover {
    border-color: #E6B700;
}

.bloque2 :hover {
    border-color: #E6B700;
}

.Asterisco {
    color: red;
    margin-left: 4px;
}

.nombre {
    width: 60%;
}

.bloques {
    width: 20%;
    margin: 4px;
}

.nombre,
.Apellido1,
.Apellido2,
.calle,
.codigo-postal,
.provincia,
.fijo {
    font-size: 11px;
    color: #666;
    margin-top: 3px;
    margin-bottom: 14px;
}

input,
select {
    width: 100%;
    border: 1px solid #ccc;
    padding: 6px;
    box-sizing: border-box;
    margin-bottom: 4px;
    font-size: 14px;
}

.linea {
    width: 100%;
    height: 1px;
    background: #ccc;
    margin: 20px 0;

}

.boton {
    background: linear-gradient(#e8e1c4, #c1b48c);
    border: 1px solid #9e9777;
    padding: 10px 25px;
    font-size: 15px;
    margin-left: auto;
    display: block;
}

.cuadro1:hover,
.cuadro2:hover,
.cuadro3:hover,
.cuadro4:hover {
    background-color: #FF9;
}

.direccion {
    display: block;
    width: 50%;
}

.email {
    width: 40%;
}

.cuadro3 {
    position: relative;
}

.cuadro3:hover .texto {
    display: block;
}


.texto {
    display: none;
    position: absolute;
    top: 20px;     
    right: 10px;    
    width: 220px;
    font-size: 12px;
}