#primerparrafo {
color: rgb(99, 146, 248);
}

#subrayado1{
   color: rgb(255, 25, 25); 
}

#resaltado1{
   background-color: rgb(216, 222, 134); 
}

#subrayado2{
   color: rgb(255, 25, 25); 
}

#subrayado3{
   color: rgb(255, 25, 25); 
}

#resaltado2{
   background-color: rgb(228, 149, 30); 
}

#resaltado3{
   background-color: rgb(228, 149, 30); 
}

#subrayado4{
   color: rgb(255, 25, 25); 
}